<div class="section">
  <%= simple_form_for @article do |f| %>
    <% if @article.errors.any? %>
      <div id="error explaination">
        <h2>
          <%= pluralize(@article.errors.count, "error") %>
          prohibited this article from being saved:
        </h2>

        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="field">
    <div class="control">
     <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :text, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :tag_list, as: :select, collection: Tag.order(:name), label_method: :name, input_html: { class: 'textarea', multiple: true }, wrapper: false %>
    </div>
  </div>

  <%= f.button :submit, 'Create', class: 'button' %>
  <% end %>
</div>