<section class="section">
  <div class="container">
    <div class="user">
      <%= @article.user.email %>
    </div>

    <div class="title">
      <%= @article.title %>
    </div>

    <div class="content">
      <%= @article.text %>
    </div>
  </div>
  
<h2>Comments:</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h2>Tags:</h2>
<%= @article.tag_list %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Destroy', article_path(@article), method: :delete,
                                    data: { confirm: "Are you sure?" } %>
                                    
<%= link_to 'Back', articles_path %>