<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: 'nav-link' %>
        Hello <%= current_user.email %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %>
        <%= link_to 'Register', new_registration_path(:user) %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
